<div class="container m-0">
  <div class="row ml-5">
    <div class="col-3 mt-5 ml-5">
    <h4 class="text-center bg-light">会員情報編集</h4>
    </div>
  </div>
</div>
<div class="container m-0">
  <div class="row mt-5 ml-5">
    <div class="col">
      <!-- 登録情報編集ページ表示 -->
      <%= render "public/customers/edit_form", customer: @customer %>
    </div>
  </div>
</div>