<div class="container m-0"> 
  <div class="row mt-5 ml-5"> 
    <div class="col">
      <!-- 登録情報編集ページ表示 -->
      <%= render "public/customers/edit_form", customer: @customer %>
    </div> 
  </div> 
</div>