<div class="container m-0"> 
  <div class="row mt-5 ml-5"> 
    <div class="col">
      <!-- 登録情報編集ページへのリンク -->
      <div><%= render "public/customers/link_edit_info.html", customer: @customer %></div>

      <!-- 登録情報表示 -->
      <div class="my-3"><%= render "public/customers/customer_show", customer: @customer %></div>

      <!-- 配送先、注文履歴ページへのリンク -->
      <div><%= render "public/customers/link_form_show", customer: @customer %></div>
    </div> 
  </div> 
</div>
