<div class="container">
    <div class="row">
        <div class="col-2 mt-5 ml-5">
            <h4 class="text-center bg-light">商品新規登録</h4>
        </div>
    </div>
    <%= render 'form', item: @item, genres: @genres %>
</div>