<div class="container">
  <div class="row">
    <div class="col-3 my-5 ml-4">
    <h4 class="text-center bg-light">管理者ログイン</h4>
    </div>
  </div>


  <%= render "public/sessions/login", scope: :admin, url: admin_session_path %>

</div>
