<div class="container">
  <div class="row">
    <div class="col-4 my-4 ml-5">
      <h4 class="text-center bg-light">
      <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col offset-md-1">
      <%= render "admin/customers/edit_form", customer: @customer %>
    </div>
  </div>
</div>