<div class="container">
  <div class="row">
    <div class="col-2 mt-5 ml-5">
    <h4 class="text-center bg-light">会員一覧</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <%= render "admin/customers/customers_index_table", customers: @customers %>
    </div>
  </div>
</div>