<div class="container">
  <div class="row">
    <div class="col">
      <!-- 配送先登録フォーム表示 -->
      <%= render "public/addresses/create_edit_form", addresse: @addresse %>

      <!-- 配送先一覧表示 -->
      <%= render "public/addresses/addresses_index_table", addresses: @addresses %>
    </div>
  </div>
</div>
