<div class="container">
  <div class="row">
    <div class="col-2 my-3">
      <h4 class="text-center bg-light">商品一覧</h4>
    </div>
  </div>
  
  <div class="row">
    <%= render 'index', items: @items %>
  </div>
  <div class="d-flex justify-content-center">
  <%= paginate @items %>
  </div>
</div>